/* Estilos para el contenedor de registro */
.registro-container {
  text-align: center;
  margin-top: 100px; /* Ajusta el margen superior según sea necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el título */
.registro-container h2 {
  color: #343a40; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente */
}

/* Estilos para el formulario de registro */
.registro-form {
  width: 300px;
  margin-top: 20px; /* Espacio entre el título y el formulario */
}

.registro-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 4px;
}

.registro-form button {
  background-color: #007bff; /* Color de fondo de los botones */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.registro-form button:hover {
  background-color: #0056b3; /* Cambio de color de fondo al pasar el mouse sobre los botones */
}

/* Estilos para los enlaces de registro */
.registro-links {
  margin-top: 20px; /* Espacio entre el formulario y los enlaces */
}

.registro-links button {
  background-color: #007bff; /* Color de fondo de los botones */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.registro-links button:hover {
  background-color: #0056b3; /* Cambio de color de fondo al pasar el mouse sobre los botones */
}

/* Estilos para los mensajes de error y éxito */
.registro-container p {
  margin-top: 20px; /* Espacio entre los enlaces y los mensajes */
}
